body{
  font-family: sans-serif;
}

.wrapper  {
  display: flex;
}

ul{
  border: 1px solid black;
  padding: 0px;
  max-width: 10vw;
  max-height: 90vh;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
}

li{
  text-align: center;
  width: 10vw;
  padding: 15px;
  white-space: pre-wrap;
  border: 1px solid black;
  background-color:rgb(230, 230, 230);
  margin-top: 10px;
  cursor: pointer;
}

.blogPost {
  /* width: 80vw; */
  height: 100%;
  margin: 5%;
  padding: 15px;
  white-space: pre-wrap;
  border: 1px solid black;
  background-color:rgb(230, 230, 230);
}

